@font-face {
    font-family: gooddog;
    src: url(/fonts/gooddog.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(/fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: open-sansBold;
    src: url(/fonts/open-sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: open-sansExtraBold;
    src: url(/fonts/open-sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: open-sansSemiBold;
    src: url(/fonts/open-sans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: open-sansLight;
    src: url(/fonts/open-sans/OpenSans-Light.ttf);
}

body {
    font-family: open-sans, sans-serif, Arial, Helvetica;
    background: white;
}

ul {
    list-style: none;
    padding: 0;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}

input {
    font-family: open-sans, sans-serif, FontAwesome;
}

.grey-txt{
    color: rgb(204, 204, 204) !important;
}

.clear-both {
    clear: both !important;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.login-container{
    overflow:hidden;
}

.box-container{
    width: 300px;
    padding: 25px 50px;
    border: 1px solid #ccc;
    margin: 100px auto;
    text-align: center;
}

.box-container > button{
    background: #00aced;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-family: open-sansSemiBold;
}

.divider{
    border-top:1px solid #ccc;
    width:100%;
    margin:20px auto;
}

.search-bar{
    overflow:hidden;
}

.sortLabel {
    margin-right: 10px;
}

.list-header{
    overflow: hidden;
    color: #b1b1b1;
    padding: 20px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e2e2;
}

.addedItemLabels{
    display: inline-block;
    background: #48b6be;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin: 5px;
}

.v-center-align{
    display: flex;
    align-items: center;
}

.delete-text{
    display:none;
}

.zero-padding {
    padding:0;
}

.link-cursor{
    cursor:pointer;
}

.trash-btn{
    color:#e2e2e2;
    cursor:pointer;
}

.trash-btn:hover{
    color:red;
}

.text-links a:hover{
    color: #48b6be !important;
    font-weight:bold;
}

.text-links .danger-btn:hover{
    color: red !important;
}

.trash-btn:hover .delete-text{
    display:inline-block;
}

.txt-center{
    text-align:center;
}

.disabled-btn{
    opacity:0.2 !important;
    cursor:default;
}

.mg10{
    margin:10px;
}

.vertical-menu {
    position: fixed;
    top: 0;
    float: left;
    height: 100%;
    width: 210px;
    overflow: hidden;
    box-shadow: 1px 0px 2px #ccc;
    margin-top: 70px;
    z-index: 999;
}

.v-menu-links {
    margin-top: 30px;
    height: calc(100% - 300px);
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-buttons {
    float: right;
    margin-top: 20px;
}

.nav-buttons li {
    float: left;
    margin-right: 30px;
}

.profile-info {
    width: 100%;
    color: white;
    height: 100%;
    cursor: pointer;
    padding: 20px 10px;
    margin: 30px 0 0 0;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.profile-info img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100%;
}

.profile-info > div {
    padding: 3px 10px;
}

.profile-info p {
    margin: 0;
    font-family: open-sansSemiBold, sans-serif;
    max-width: 111px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-name {
    font-family: open-sansBold, sans-serif !important;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-username {
    font-family: open-sans, sans-serif;
    font-size: 12px;
}

.navbar-uniclix {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background: #fff;
    height: 70px;
    box-shadow: 1px 1px 1px 1px #e8edf5;
    overflow: hidden;
}

.support {
    position: absolute;
    bottom: 70px;
    width: 100%;
    background: linear-gradient(to right, #48BBB8, #438AF1);
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.upgrade-btn, .upgrade-btn:active, .upgrade-btn:visited, .upgrade-btn:link {
    border: 1px solid #46b9e6;
    color: #46b9e6;
    text-decoration: none;
    font-family: open-sansBold, sans-serif;
    border-radius: 20px;
    padding: 5px 20px;
    outline: none;
    background: none;
}

.whiteBg{
    background:white !important;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ReactModalPortal .ReactModal__Content{
    position: static !important;
    width: 300px;
}


.top-border{
    border-top: 1px solid #ccc;
}

.p10{
    padding:10px;
}

.m10-top{
    margin-top: 10px;
}

.upgrade-btn:hover {
    background: linear-gradient(to right, #48BBB8, #438AF1);
    border-color: #48BBB8;
    color: white;
    transition: background .3s;
}

.support div > a {
    display: block;
    color: #48b6be;
    background: #ffffff;
    text-decoration: none;
    width: 120px;
    padding: 10px 0px;
    text-align: center;
    border-radius: 20px;
    margin: 31px auto;
    font-family: open-sansSemiBold, sans-serif;
}

.logout-btn a{
    background: none !important;
    color: white !important;
}

.gradient-background-teal-blue {
    background: linear-gradient(to right, #48BBB8, #438AF1);
}

.vertical-menu .links {
    color: #d4e6ec;
    height: 30px;
    display: block;
    margin: 5px 0 0 30px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 30px;
    text-transform: uppercase;
}

.navbar-uniclix .brand {
    display: block;
    float: left;
    margin-left: 90px;
    line-height: 36px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #E97D4C !important;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
}

.top-menu {
    margin-left: 230px;
}

.top-menu li a {
    float: left;
    font-family: open-sansBold, sans-serif;
    margin: 25px 0 0 15px;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 32px;
    color: #46a5d1;
    text-decoration: none;
}

.top-menu li a:hover {
    text-decoration: none;
}

.reply-box{
    clear:both;
    position:relative;
}

.reply-box textarea{
    width:100%;
    height:70px;
    resize:none;
    border:1px solid #cdd8e4;
    overflow-y:auto;
    outline:none;
}

.reply__arrow {
    position: absolute;
    top: -7px;
    right: 65px;
}

.reply__arrow:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #cdd8e4;
    top: -1px;
    right: 0;
}

.reply-box:focus-within textarea{
    border: 1px solid #46a5d1;
}

.reply-box:focus-within .reply__arrow:before{
    border-bottom: 8px solid #46a5d1;
}

.reply__arrow:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: 0;
    right: 0;
}

.top-menu li a::after, .nav-buttons li .top-icons::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #48BBB8, #438AF1);
    transition: width .3s;
    margin-top: 22px;
}

.nav-buttons li .top-icons::after{
    margin-top:10px;
}

.profile-info .down-arrow {
    padding: 0;
    margin-top: 10px;
}

.profile-form label{
    color: #ccc;
    font-weight: 500;
    font-family: open-sansSemiBold, sans-serif, arial;
}

.profile-form .form-field{
    margin-bottom:20px;
}

.top-menu li a:hover::after, .top-menu .active::after, .nav-buttons li .top-icons:hover::after ,.nav-buttons li .top-icons.active::after {
    width: 100%;
    transition: width .3s;
}

.vertical-menu li a:after {
    content: '';
    display: block;
    width: 4px;
    float: left;
    margin-right: 26px;
    height: 0;
    background: white;
    transition: width .3s;
}

.vertical-menu li a:hover, .vertical-menu .active {
    text-decoration: none;
    margin-left: 0 !important;
    color: white;
}

.vertical-menu li a:hover:after, .vertical-menu .active:after {
    height: 30px;
    transition: height .2s;
}

.compose-btn, .compose-btn:link, .compose-btn:hover, .compose-btn:active, .compose-btn:visited {
    background: linear-gradient(to right, #48BBB8, #438AF1);
    color: white;
    padding: 6px 20px;
    border-radius: 20px;
    text-decoration: none;
    outline: none !important;
    cursor:pointer;
    font-family: open-sansSemiBold, sans-serif;
    border:none;
}

.top-icons {
    color: #46a8ce;
    font-size: 18px;
}

.top-icons:hover {
    color: #459fd8;
}

.body-container {
    padding: 0 30px;
    margin-left: 210px;
}

.main-section {
    margin-top: 130px;
}

.main-section h2 {
    font-family: open-sans, sans-serif;
    font-size: 20px;
    color: #666;
}

.shadow-box {
    box-shadow: 0px 0px 1px 0px #ececec;
    font-family: open-sans, sans-serif;
    overflow: hidden;
    padding: 20px;
    margin-top: 25px;
    border: 1px solid #eee;
}

.dashboard-info li {
    display: table-cell;
    text-align: center;
    line-height: 35px;
    width: 15%;
    margin-right: 10px;
    margin-left: 10px;
}

.dashboard-info .title {
    color: #c1c1c1;
}

.dashboard-info .text-only {
    color: #666 !important;
}

.dashboard-info .count {
    font-size: 45px;
    color: #666;
}

.dashboard-info .description {
    color: #48b6be;
}

.sort-options label {
    font-family: open-sansLight, sans-serif;
    color: #999;
}

.sort-options select {
    border-radius: 20px;
    color: #999;
    padding: 5px 20px;
    background: white;
    outline: none;
}

.item-header {
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.schedule-header{
    border-bottom:none;
}

.schedule-header h4{
    font-family: open-sansSemiBold;
    color: #777;
}

.schedule-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    border-bottom: none !important;
    border-top: 1px solid #e2e2e2;
}

.schedule-row .item-actions li{
    margin-top: 0 !important;
}

.item-row .profile-info {
    width: inherit;
    color: #999 !important;
    margin: 0 !important;
    text-transform: capitalize;
}

.item-row {
    overflow: hidden;
    border-bottom: 1px solid #e2e2e2;
}

.item-row .profile-name {
    font-family: open-sansLight, sans-serif !important;
    text-transform: capitalize;
    font-size: 20px;
    color: #717171;
    max-width: inherit;
}

.item-row .profile-title {
    font-size: 12px;
    max-width: 300px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-row img {
    width: 70px;
    height: 70px;
}

.item-row .profile-username {
    color: #b1b1b1;
    font-family: open-sansLight, sans-serif !important;
}

.item-row .profile-info p {
    max-width: inherit;
    font-family: open-sans, sans-serif;
}

.schedule-row .profile-info p{
    width:inherit;
}

.schedule-row img{
    border-radius:0 !important;
    width:inherit !important;
    object-fit: cover;
    max-width:300px !important;
    margin-left: 20px;
}

.modal-header{
    padding:5px !important;
}

.compose-header{
    width:95%;
}

.close{
    opacity: .7 !important;
    font-size: 16px;
    outline: none;
}

#draftEditor{
    height: 250px;
    overflow-y: auto;
}

.publish-btn-group{
    text-align: center;
    border-radius: 20px;
    width: 180px;
    padding:7px;
    font-family: open-sansSemiBold, sans-serif;
    color:white;
}

.publish-group{
    border-radius: 20px;
    float:left;
    width: 180px;
    height:35px;
    font-family: open-sansSemiBold, sans-serif;
    color: white;
}

.tooltip-menu{
    color:#666;
    text-align:left;
}

.tooltip-menu .menu-item h4, .tooltip-menu .menu-item p{
    padding:0;
    margin:0;
}

.tooltip-menu .menu-item h4{
    font-size:$m_size;
}

.tooltip-menu .menu-item p{
    font-size: $s_size;
    color: #999;
    font-family: open-sans, arial, sans-serif;
}
.DraftEditor-root{
    height: 200px;
    overflow-y: auto;
}

.popup-content{
    width:auto !important;
    padding:0 !important;
}

.popup-content .SingleDatePicker_picker{
    position:static;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
}

.popup-content .DateInput_fangStroke .DateInput_fangStroke_1{
    display:none !important;
}

.DateInput_fangStroke {
    stroke: #dbdbdb;
    fill: transparent;
    display: none;
}

.uc-calendar-time-picker{
    color:#666;
}

.uc-calendar-time-picker select{
    padding:5px;
    margin-right:5px;
}

.DayPicker__withBorder, .SingleDatePickerInput__withBorder{
    box-shadow: none;
    border:none;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #46b9e6;
    border: 1px solid #46b9e6;
    color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight, .DayPickerKeyboardShortcuts_show__bottomRight:hover {
    border-right: 33px solid #46b9e6;
    display:none;
}

.date-btn .btn{
    width:100%;
    font-size:$m_size;
    color:#46b9e6;
}

.uc-calendar{
    text-align: center;
}

.DateInput_input__focused {
    outline: 0;
    background: #fff;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #46b9e6;
    border-left: 0;
}

.tooltip-menu .menu-item{
    padding:10px 10px 20px 10px;
}

.tooltip-menu .menu-item:hover{
    background:#ececec;
}

.btn-side-arrow{
    width: 19%;
    height: 100%;
    border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.SingleDatePicker > div{
    display: flex;
    flex-direction: column-reverse;
}

.date-btn, .date-btn:hover{
    color: #46b9e6;
    margin-top:20px;
    font-size: $m-size;
    cursor:pointer;
}

.SingleDatePickerInput_calendarIcon{
    outline: none !important;
}

.letter-count{
    float: right;
    font-size: 16px;
    font-family: open-sansBold;
    color: #ccc;
    vertical-align: middle;
    height: 100%;
    padding: 5px;
    margin: 0;
}

.DateInput__small{
    display:none;
}

.fileContainer .uploadPictureContainer{
    padding:0;
}

.schedule-info{
    color: #47afc6 !important;
    font-family: open-sansSemiBold, sans-serif, arial !important;
}

.half-btn{
    width: 80%;
    height: 100%;
}

.naked-button{
    border:none;
    background:none;
    outline:none;
}

.editor-icons{
    text-align: right;
    color: #bbb;
    font-size: 18px;
    padding: 0 10px;
}

.editor-icons i{
    cursor:pointer;
    margin:5px;
}

.compose-dialog{
    max-width:520px;
}

.compose-header li {
    float: left;
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 2.3;
    margin-left: 5px;
    cursor:pointer;
    overflow:hidden;
}

.compose-header li img {
    width: 100%;
    border-radius: 100%;
}

.item-row .bottom-info {
    margin: 0 !important;
    overflow: hidden;
}

.item-row .bottom-info li {
    display: inline-block;
    margin: 20px 20px 0 0;
    font-size: 13px;
}

.schedule-row .item-actions{
    min-width: 190px;
}

.past-scheduled .schedule-row .item-actions{
    min-width: 240px;
}

.item-actions {
    overflow: hidden;
}

.item-actions ul {
    margin: 0;
}

.item-actions li {
    display: inline-block;
    margin: 50px 10px 0 10px;
}

.item-actions li a {
    color: #48b6be;
}

.link-inactive a{
    color:#b7b7b7 !important;
}

.add-btn, .sub-btn {
    cursor: pointer;
    font-size: 30px;
    vertical-align: middle;
}

.default-button {
    color: white;
    border: none;
    padding: 6px 30px;
    border-radius: 20px;
    font-family: open-sansSemiBold, sans-serif;
    outline: none;
}

.mt20{
    margin-top:20px !important;
}

.mt15{
    margin-top:15px !important;
}

.ptb20{
    padding:20px 0 !important;
}

.keyword-item{
    color: #777;
    font-family: open-sansSemiBold, sans-serif;
}

.white-button, .white-button:active, .white-button:hover{
    display: block;
    text-align: center;
    border: 1px solid #46b9e6;
    color: #46b9e6;
    text-decoration: none;
    background: white;
    font-family: open-sansBold, sans-serif;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    cursor:pointer;
}

.p20 {
    padding: 20px !important;
}

.left-radius {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.center-inline{
    text-align:center;
}

.right-radius{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-display{
    display:flex;
    justify-content: center;
    margin-bottom:50px;
}

.card-title{
    font-weight:bold;
    font-size:$m-size;
}

.card-content{
    width:1000px;
}

.card-content a{
    color: #666;
}

.initial-topics{
    display: flex;
    text-align:center;
    justify-content: center;
    align-items:center;
    margin-top:20%;
}

.initial-topics p{
    color: #666;
    width:100%;
    font-size: $l-size;
}

.card-img-top{
    width:100%;
    height:300px;
    object-fit: cover;
    border: 1px solid #dfdfdf;
}

.card-body{
    border: 1px solid #dfdfdf;
    border-top: none;
    padding: 20px;
}

.geosuggest {
}
  .geosuggest__input {
    width: 100%;
    padding: .5em 1em;
    -webkit-transition: border 0.2s, box-shadow 0.2s;
            transition: border 0.2s, box-shadow 0.2s;
  }
  .geosuggest__input:focus {
    border-color: #267dc0;
    box-shadow: 0 0 0 transparent;
  }
  .geosuggest__suggests {
    position: absolute;
    max-height: 25em;
    padding: 0;
    background: #fff;
    border: 2px solid #46b9e6;
    border-top-width: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
            transition: max-height 0.2s, border 0.2s;
  }
  .geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
  }
  
  /**
   * A geosuggest item
   */
  .geosuggest__item {
    font-size:$m-size;
    padding: .5em .65em;
    cursor: pointer;
  }
  .geosuggest__item:hover,
  .geosuggest__item:focus {
    background: #f5f5f5;
  }
  .geosuggest__item--active {
    background: #46b9e6;
    color: #fff;
  }
  .geosuggest__item--active:hover,
  .geosuggest__item--active:focus {
    background: #ccc;
  }
  .geosuggest__item__matched-text {
    font-weight: bold;
  }

.full-radius{
    border-radius:20px;
}

.p10-5 {
    padding: 10px 5px !important;
}

.add-btn {
    color: #47b5bf;
}

.sub-btn {
    color: #C85E5C !important;
}

.pstatic{
    position: static !important;
}

.dropdown-menu .profile-info{
    margin: 0;
    color: #666;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.dropdown-menu .profile-info img {
    width: 35px;
    height: 35px;
}

.block-urls {
    display: block;
    overflow: hidden;
}

.channel-container {
    max-height: 210px;
    overflow-y: auto;
}

.add-channel-btn, .add-channel-btn:hover {
    margin: 10px auto;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #ccc;
    color: white;
    background: #46a8ce;
    font-family: open-sansBold, sans-serif;
    width: 150px;
    font-size: 14px;
}

.add-channel-plus-btn{
    background:none;
    padding:20px 25px;
    border: 1px solid #46b9e6;
    font-size: $l-size;
    border-radius:10px;
    color: #c1c1c1;
    outline:none;
}

.left-side-label{
    font-size:$m-size;
    margin-left:10px;
}

aside .btn-group {
    width: 100% !important;
}

.no-data {
    text-align: center;
    font-family: open-sansSemiBold, sans-serif;
    font-size: 42px;
    margin-top: 100px;
    color: #ccc;
}

.action-count {
    font-family: open-sans;
    color: #777;
    width: 200px;
    border-bottom: 1px solid #deeafb;
}

.action-count-title{
    text-transform: capitalize;
}

.follow-count {
    color: #47b3c1;
}

.unfollow-count {
    color: #C85E5C;
}

.red-txt{
    color: red;
}

.follow-count, .unfollow-count {
    font-size: 18px;
    font-family: open-sansSemiBold;
}

/*Loader*/

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.lds-ripple {
    z-index: 1001;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #0094ea;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

.lds-ripple-light div{
    border: 4px solid #a2cfe8;
}

.emoji-options button, .emoji-options button:hover{
    background:none;
    width:inherit;
    height:inherit;
    border:none;
    color:#bbb;
}

.dnone{
    display:none;
}

.fileContainer .deleteImage {
    position: absolute !important;
    top: -7px !important;
    right: -7px !important;
    color: #fff !important;
    background: #48b7bd !important;
    border-radius: 100% !important;
    border: none !important;
    outline: none !important;
    text-align: center !important;
    cursor: pointer !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 1.4 !important;
    width: 16px !important;
    height: 16px !important;
}

.fileContainer{
    padding:0 !important;
    margin:0 !important;
    box-shadow:none !important;
}

.fileContainer .uploadPictureContainer {
    margin: 5px !important;
}

.flex_container-center{
    display: flex;
    justify-content: center;
}

.public-DraftEditorPlaceholder-inner{
    color:#bbb;
}

.accounts-container{
    margin: 100px auto;
    width: 90%;
}

.accounts-container h2{
    font-family: open-sans, sans-serif;
    font-size: 20px;
    color: #666;
}

.accounts-container__logo, .accounts-container__content{
    margin-top:30px;
}

.accounts-container__logo{
    border-radius:100%;
    width:130px;
    height:130px;
    min-width:130px;
    min-height:130px;
    margin-right: 20px;
    border: 1px solid #d4d4d4;
    text-align:center;
    font-size:$xl-size;
    color:#25A2F0;
    line-height: 2.5;
    overflow:hidden;
}

.accounts-container__content__wrapper,
.accounts-container__content__wrapper__footer{
    border: 1px solid #eee;
    border-radius:3px;
    box-shadow: 0px 0px 1px 0px #ececec;
}

.accounts-container .profile-info{
    margin:0;
    color:#666;
}

.accounts-container .item-actions{
    line-height:3;
    font-size:$m-size;
    color:#c1c1c1;
}

.accounts-container__content__wrapper__heading, 
.accounts-container__content__wrapper__body{
    border-bottom: 1px solid #ececec;
    border-radius:3px;
    margin:0 20px;
    padding:10px;
}

.accounts-container__content__wrapper__footer{
    margin-top:20px;
    padding:10px 20px;
}

.selection-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-family: open-sansSemiBold, arial;
    font-size: $m-size;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.selection-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.selection-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.selection-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.selection-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.selection-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.modal {
    text-align: center;
  }
  
.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}

@media screen and (min-width: 768px) { 
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .vertical-menu {
        margin-left: -212px;
    }
    .body-container {
        margin-left: 0px;
    }
    .dashboard-info li {
        width: 100%;
        display: block;
    }
}