.twitter-profile-analytics {
    border: 1px solid #eee;
    border-radius: 4px;
}
.border-bottom {
    border-bottom: 1px solid #eee;
}
.border-right {
    border-right: 1px solid #eee;
}
.tw-img-followers {
    padding: 20px 0;
}