.twitter-profile-analytics {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom:30px;
}
.border-bottom {
    border-bottom: 1px solid #eee;
}
.border-right {
    border-right: 1px solid #eee;
}
.tw-img-followers {
    padding: 10px 0;
}
.twitter-profile-img{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
}
.platform-profile {
    width: 14px;
    position: absolute;
    bottom: 0;
    left: 45px;
    z-index: 1;
}
.analytics-filter-li {
    display: inline;
    padding-right:20px;
}
.analytics-filter-li a{
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}
.analytics-header {
    padding-left: 20px;
    font-size: 20px;
    color: #666;
    line-height: 2;
}