@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

p, span { font-family: 'Open Sans', Arial, sans-serif; }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.flex-container {
    display: flex;
}
.flex-space-between {
    justify-content: space-between;
}

#logo-img {
    margin-left: 13px;
    margin-bottom: 5px;
    width:100px;
}

#logo-img span {
    text-align: center;
}

#top-image {
    position: absolute;
    max-width: 50%;
    min-height: 400px;
    top: 0;
    right: 0;
}

#header-wrap,
#header-wrap .navbar-default {
    background: transparent;
    border-color: transparent;
}

#header-wrap .navbar-nav {
    padding: 20px 15px;
}

#header-wrap .navbar-nav li a {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Open Sans', Arial, sans-serif;
    text-transform: capitalize;
    border-bottom: 3px solid transparent;
}

#header-wrap .navbar-nav>.active>a {
    background: none;
    border-bottom: 3px solid #ffffff;
}

#header-wrap .navbar-nav li a:hover {
    background: none;
    border-bottom: 3px solid #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.signin-btn {
    margin-top: 30px;
    margin-left: 15px;
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #ffffff!important;
    font-weight: 100;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    outline: none;
}

.signin-btn:hover {
    background: linear-gradient(to right, #48bbb8, #438AF1);
    border: 1px solid #48BBB8;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.compose-btn,
.compose-btn:link,
.compose-btn:hover,
.compose-btn:active,
.compose-btn:visited {
    background: linear-gradient(to right, #48BBB8, #438AF1);
    color: white;
    padding: 6px 20px;
    border-radius: 20px;
    text-decoration: none;
    outline: none;
    font-family: open-sansSemiBold, sans-serif;
}

.btn-start { padding: 10px 45px!important; font-weight: bold; }

#get-started-wrapper {
    margin-top: 200px;
}

.get-started h2 {
    letter-space: 2px;
    color: #495676;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 4.5em;
    font-weight: 700;
}

.get-started p {
    padding: 1.2em 0;
    color: #4d4d4d;
}

.play-btn {
    background-color: #ffffff;
    color: #48BBB8;
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    top: 35%;
    right: 30%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

.play-btn:hover {
    color: #438AF1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.play-btn i {
    font-size: 22px;
    line-height: 4.5;
}

/**
* Features Wrapper
*/
#features-wrapper {
    padding-top: 200px;
}

.card-box {
    color: #b2b2b2;
    font-size: 12px;
    background: #ffffff;
    padding: 3em 1.5em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 17px 52px -7px rgba(235,235,235,1);
    -moz-box-shadow: 3px 17px 52px -7px rgba(235,235,235,1);
    box-shadow: 3px 17px 52px -7px rgba(235,235,235,1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.card-box .line {
    background-color: #e6e6e6;
    width: 100%;
    height: 1px;
    margin: 25px 0;
}

.card-box-1 {

}

.card-box-2 {
    margin-top: 2em;
}

.card-box-2 .card-bottom p {
    font-size: 10px;
    margin-bottom: 5px;
}

.card-box-4 {
    margin-top: 2em;
}

.card-box-4 .card-body {
    text-align: center;
    padding: 45px;
}

.card-box-4 .card-body p {
    text-transform: uppercase;
}

.card-box-4 .card-body i {
    font-size: 7em;
}

.card-box:hover {
    cursor: pointer;
    background-color: #438af2;
    color: #ffffff!important;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.card-box:hover .outline-btn,
.card-box:hover .card-header .twitter-part i {
    color: #ffffff;
}

.card-box-4 .count-part {
    position: absolute;
    top: 50px;
    right: 10px;
}

.card-header {
    font-size: 12px;
    margin: 1em 0;
}

.card-header .twitter-part {
    border-right: 1px solid #d9e8fc;
    padding-right: 2em;
}

.card-header .twitter-part i {
    color: #2aa3f0;
}

.card-header .count-part {
    padding-right: 2em;
    padding-left: 0.5em
}

.card-avatar {
    position: relative;
}

.card-avatar-desc {
    font-size: 12px;
    text-align: left;
    padding-left: 0.5em;
}

.card-avatar-desc small {
    padding-left: 0.5em;
}

.card-avatar .avatar-status {
    font-size: 12px;
    position: absolute;
    left: 60%;
    top: 20%;
}

.card-avatar .avatar-status i {
    color: #48BBB8;
}

#features-right-text {
    padding: 150px 15px;
}

#features-right-text h3 {
    padding-bottom: .75em;
    color: #485576;
    font-size: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
}

.feature-publish-text h3 {
    color: #485576;
    font-size: 40px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
}

#features-publishing {
    margin: 100px 0;
}

.feature-publish-text {
    padding: 75px 0;
}

.feature-publish-img figure a img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.outline-btn {
    margin: 2em 0 1em 0;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #48b7bd;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #b2b2b2;
    font-weight: 100;
    font-family: 'Open Sans', Arial, sans-serif;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    outline: none;
}

.more-features {
    margin-top: 100px;
    padding: 50px 0;
    min-height: 600px;
    background-color: #feac5a;
}

.more-features-text {
    color: #303030;
    padding: 50px 0;
}

.more-features-text h3 {
    color: #303030;
    font-size: 32px;
    padding-bottom: 0.5em;
}

.slick-initialized .slick-slide {
    outline: none!important;
}
.slick-slide {
    height: auto;
}

.single-item-img {
    margin: 0 auto;
}

.single-item h4 {
    color: #303030;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
}

.single-item-bottom {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    padding: 20px;
    margin: 0 4em;
}

.single-item .slick-dots li button {

}

.single-item .slick-dots li.slick-active button:before {
    color: #ffffff;
}

.single-item .slick-dots li button:before {
    font-size: 10px;
}

.testimonials-wrapper {
    margin-top: 100px;
    padding: 50px 0;
    min-height: 600px;
    background: #ffffff url('../images/testimonial-bg.png') no-repeat 0 0;
    background-size: contain;
}

.testimonials-pics .single-item p {
    color: #808080;
    margin-top: 1em;
}

.testimonials-pics .single-item .slick-dots li.slick-active button:before  {
    color: #49c1b3;
}

.footer-wrapper {
    margin-top: 50px;
    padding: 50px 0;
    min-height: 400px;
    background-color: #f6f6f8;
}

.footer-get-started {
    background: #ffffff;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.footer-start-btn {
    margin-top: 35px;
}

.footer-social li {
    width: 40px;
    height: 40px;
    line-height:40px;
    text-align: center;
    background-color: #ddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.footer-info {
    padding-top: 50px;
}

.content {
    margin-top: -115px;
}
.home_content {
    background-image: url(../images/home-bg.png);
    background-position: 50px -45%;
}
.homepage-footer .social-icons {
    padding-top: 10px!important;
}
#banner {
    height: 510px;
    text-align: center;
    padding-top: 200px;
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feac5a+0,fea15f+21,ff7474+76,ff677a+100 */
    background: rgb(254,172,90); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(254,172,90,1) 0%, rgba(254,161,95,1) 21%, rgba(255,116,116,1) 76%, rgba(255,103,122,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(254,172,90,1) 0%,rgba(254,161,95,1) 21%,rgba(255,116,116,1) 76%,rgba(255,103,122,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(254,172,90,1) 0%,rgba(254,161,95,1) 21%,rgba(255,116,116,1) 76%,rgba(255,103,122,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feac5a', endColorstr='#ff677a',GradientType=1 ); /* IE6-9 */
}
#banner a {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    padding-top:30px;
}
#banner h1 {
    font-size: 52px;
    font-weight: 300;
}
.bg-image-content {
    background-image: url(../images/upgrade-bg-img.png);
}
.p100 {
    padding: 100px 0;
}
.maxw400 {
    max-width: 400px;
}
.pt150 {
    padding-top: 150px;
}
.pt130 {
    padding-top: 130px;
}
.bg-grey-content {
    background-color: #eff1f6;
}
.bg-white-radius {
    margin:50px 0;
    background-color: #ffffff;
    border-radius: 17px;
    overflow: hidden;
    padding: 50px 70px;
}
.text-right {
    text-align: right;
}
.lh7 {
    line-height: 7;
}
.social-icons {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5;
}
.ohidden {
    overflow: hidden;
}
.mt40 {
    margin-top: 40px;
}
.rights-reserved {
    font-size: 12px;
    color: #485576;
}
.mb30 {
    margin-bottom: 30px;
}
.mt50 {
    margin-top: 50px;
}
.video-panel {
    width: 100%;
    max-width: 585px;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}
.play-icon {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 36px;
    cursor: pointer;
}
.blog-panel {
    min-height: 545px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.panel-shadow {
    -webkit-box-shadow: 10px 10px 50px 3px rgba(237,237,237,1);
    -moz-box-shadow: 10px 10px 50px 3px rgba(237,237,237,1);
    box-shadow: 10px 10px 50px 3px rgba(237,237,237,1);
}
.blog-panel-content {
    padding: 15px;
}
.category-span {
    padding: 10px 20px!important;
     font-weight: normal; 
    font-size: 12px;
}
.blog-panel-image {
    position: relative;
}
.blog-panel-image img {
    width: 100%;
}
.blog-category {
    position: absolute;
    bottom: 18px;
    left: 10px;
}
.blog-date {
    font-size: 12px;
    font-weight: bold;
}
.search-input {
    height: 50px;
    width: 100%;
    border-radius: 40px;
    border: 2px solid #e3e5ea;
    padding: 0 30px;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: right 15px top 15px;
}
.recent-posts {
    overflow: hidden;
}
.rp-image {
    width: 60px;
    height: 60px;
    border: 1px solid #cccccc;
    border-radius: 50%;
}
.tag {
    border: 2px solid #dae2e6;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #edf9f6;
    color: black;
    display: inline-block;
    margin-bottom: 5px;
}
.plan-content {
    overflow: hidden;
    margin-top: 30px;
    min-height: 680px;
    border-radius: 10px;
}
.pricing-column {
    width: 100%;
    margin: 0 10px;
}
.plan-ul {
    list-style: none;
    margin:0;
    padding: 0;
}
.plan-ul li {
    padding:15px 0;
    text-align: center;
}
.plan-features-ul {
    list-style: none;
    margin:0;
    padding: 0;
}
.plan-features-ul li {
    padding:32px 0;   
    font-weight: 700;
}
.trial-color {
    color: #485576;
}
.basic-color {
    color: #feac5a;
}
.plus-color {
    color: #4ac9aa;
}
.premium-color {
    color: #ff677a;
}
.pro-color {
    color: #438af2;
}
.plans-features {
    margin-top: 112px;
    background-color: #edf9f6;
    padding: 0 15px;
    min-height: 680px;
}
.theme-color {
    color: #ff677a;
}
.gradient-border-btn {
    border: 1px solid #46b9e6;
    color: #46b9e6;
    text-decoration: none;
    font-family: open-sansBold, sans-serif;
    border-radius: 20px;
    padding: 10px 40px;
}
.gradient-border-btn:hover {
    background: linear-gradient(to right, #48BBB8, #438AF1);
    border-color: #48BBB8;
    color: white;
    transition: background .3s;
    text-decoration: none;
}
.article-banner {
    height: 510px;
    text-align: center;
    padding-top: 200px;
    color: #ffffff; 
    background-image: url(../images/article-banner-bg.png);
}
.article-category {
    color: #438af2;
    font-weight: 700;
}
.article-em {
    font-style: italic;
    font-size: 16px;
}
.article-img {
    width: 100%;
    max-width: 481px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
.article-share img{
    padding-right: 10px;
}
.comment-form label, input, textarea {
    width: 100%;
    font-size: 18px;
    color: #438af2;
}
.comment-form label {
    text-transform: uppercase;
    text-align: center;
}
.comment-form input {
    padding: 0 15px;
    font-size: 14px;
    color: #808080;
}
.comment-form textarea {
    height: 163px;
    padding:15px;
    font-size:14px;
    color: #808080;
}
.form-input {
    border:none;
    border-radius: 10px;
    min-height: 40px;
    -webkit-box-shadow: 0px 0px 20px 3px rgba(229,229,229,1);
    -moz-box-shadow: 0px 0px 20px 3px rgba(229,229,229,1);
    box-shadow: 0px 0px 20px 3px rgba(229,229,229,1);
}
.form-btn {
    width: 200px;
    border: none;
    color: #ffffff!important;
}
.h-color {
    color: #485576;
}
.upgrade-img {
    margin: 0 auto;
}
.footer-pages a {
    color: #808080;
    text-decoration: none;
}


/** Media Queries */
@media only screen and (max-width: 768px) {
    .bg-white-radius {
        padding: 50px 0;
    }
    .bg-white-radius .col-xs-12 {
        text-align: center;
    }
    .tablet-responsive {
        padding-top: 0px;
    }
    .bg-image-content .p100 {
        padding: 50px 0;
    }
    .tablet-text-center {
        text-align: center;
    }
    #banner h1 {
        font-size: 40px;
    }
    .play-btn {
        display: none;
    }
    #top-image {
        max-width: 60%;
    }
    .pricing-column h4 {
        font-size: 15px;
    }
    .pricing-column h2 {
        font-size: 26px;
    }
}

@media only screen and (max-width: 425px) {
    #banner {
        padding-top: 170px;
    }
    #banner h1 {
        font-size: 35px;
    }
    #header-wrap .navbar-nav li a {
        color: #495676;
    }
    #header-wrap .navbar-nav>.active>a {
        border-bottom: 3px solid #495676;
    }
    #logo-img {
        height: 100%;
    }
    .logo-text {
        display: none;
    }
    .content {
        margin-top: 0;
    }
    .navbar-default .navbar-collapse {
        border-color: #ffffff;
    }
    .flex-space-between {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 320px) {
    #banner {
        padding-top: 150px;
    }
}